/* DONE */
.data.tags span a[href*="=Amazing%20OST"]{
  background-image: url(https://i.imgur.com/LU67Wvy.gif);
  color: #ffffff !important;
}
.data.tags span a[href*="=Samurai"]{
  background-image: url(https://i.imgur.com/sjgieFJ.gif);
  color: #ffffff !important;
}
.data.tags span a[href*="=Emotion"]{
  background-image: url(https://i.imgur.com/wROLOsg.gif);
  color: #ffffff !important;
}
.data.tags span a[href*="=Romance"]{
  background-image: url(https://i.imgur.com/OkIRtaU.gif);
  color: #ffffff !important;
}
.data.tags span a[href*="=Isekai"]{
  background-image: url(https://i.imgur.com/eqHrmC2.gif);
  color: #000000 !important;
}


/* TO DO */
.data.tags span a[href*="=Historical"]{
  background-image: url(https://i.imgur.com/ny0C5sQ.png);
  color: #ffffff !important;
}

