/* Plot - Visuals - Characters - Sound - Enjoyment --- Uji_Gintoki_Bowl */

/* Plot */
.data.tags span a[href*="=FavoP0"],
.data.tags span a[href*="=FavoP1"],
.data.tags span a[href*="=FavoP2"],
.data.tags span a[href*="=FavoP3"],
.data.tags span a[href*="=FavoP4"],
.data.tags span a[href*="=FavoP5"],
.data.tags span a[href*="=FavoP6"],
.data.tags span a[href*="=FavoP7"],
.data.tags span a[href*="=FavoP8"],
.data.tags span a[href*="=FavoP9"],
.data.tags span a[href*="=FavoP10"]{
  position:absolute;
  left:677px; /* used for lining lef to right */
  top:calc(5% - 0px); /* used of lining top to bottom */
  width:18px;
  height:18px;
  padding-right: 1px !important; /* need this */
  background:#d60076;
  border-radius:8.5px 0 0 8.5px; /* need this */
  color:white!important;
  font-size:0!important;
  line-height:18px;
  overflow:hidden;
  margin-right: 2px; /* maybe ? */
  box-shadow:0 1px 2px rgba(0,0,0,.2)}

/* adding the content */
.data.tags span a[href*="=FavoP0"]:before{content:"0";font-size:11px}
.data.tags span a[href*="=FavoP1"]:before{content:"1";font-size:11px}
.data.tags span a[href*="=FavoP2"]:before{content:"2";font-size:11px}
.data.tags span a[href*="=FavoP3"]:before{content:"3";font-size:11px}
.data.tags span a[href*="=FavoP4"]:before{content:"4";font-size:11px}
.data.tags span a[href*="=FavoP5"]:before{content:"5";font-size:11px}
.data.tags span a[href*="=FavoP6"]:before{content:"6";font-size:11px}
.data.tags span a[href*="=FavoP7"]:before{content:"7";font-size:11px}
.data.tags span a[href*="=FavoP8"]:before{content:"8";font-size:11px}
.data.tags span a[href*="=FavoP9"]:before{content:"9";font-size:11px}
.data.tags span a[href*="=FavoP10"]:before{content:"10";font-size:11px}


/* --------------------------------------------------------------------------------------------- */
/* Visuals */

.data.tags span a[href*="=FavoV0"],
.data.tags span a[href*="=FavoV1"],
.data.tags span a[href*="=FavoV2"],
.data.tags span a[href*="=FavoV3"],
.data.tags span a[href*="=FavoV4"],
.data.tags span a[href*="=FavoV5"],
.data.tags span a[href*="=FavoV6"],
.data.tags span a[href*="=FavoV7"],
.data.tags span a[href*="=FavoV8"],
.data.tags span a[href*="=FavoV9"],
.data.tags span a[href*="=FavoV10"]{
  position:absolute;
  left:697px; /* used for lining lef to right */
  top:calc(5% - 0px); /* used of lining top to bottom */
  width:18px;
  height:18px;
  padding: 1px 1px !important; /* need this */
  background:#d60076;
  border-radius: 0; /* need this */
  color:white!important;
  font-size:0!important;
  line-height:18px;
  overflow:hidden;
  margin-right: 2px; /* maybe ? */
  box-shadow:0 1px 2px rgba(0,0,0,.2)}

.data.tags span a[href*="=FavoV0"]:before{content:"0";font-size:11px}
.data.tags span a[href*="=FavoV1"]:before{content:"1";font-size:11px}
.data.tags span a[href*="=FavoV2"]:before{content:"2";font-size:11px}
.data.tags span a[href*="=FavoV3"]:before{content:"3";font-size:11px}
.data.tags span a[href*="=FavoV4"]:before{content:"4";font-size:11px}
.data.tags span a[href*="=FavoV5"]:before{content:"5";font-size:11px}
.data.tags span a[href*="=FavoV6"]:before{content:"6";font-size:11px}
.data.tags span a[href*="=FavoV7"]:before{content:"7";font-size:11px}
.data.tags span a[href*="=FavoV8"]:before{content:"8";font-size:11px}
.data.tags span a[href*="=FavoV9"]:before{content:"9";font-size:11px}
.data.tags span a[href*="=FavoV10"]:before{content:"10";font-size:11px}

/* --------------------------------------------------------------------------------------------- */
/* Characters */

.data.tags span a[href*="=FavoC0"],
.data.tags span a[href*="=FavoC1"],
.data.tags span a[href*="=FavoC2"],
.data.tags span a[href*="=FavoC3"],
.data.tags span a[href*="=FavoC4"],
.data.tags span a[href*="=FavoC5"],
.data.tags span a[href*="=FavoC6"],
.data.tags span a[href*="=FavoC7"],
.data.tags span a[href*="=FavoC8"],
.data.tags span a[href*="=FavoC9"],
.data.tags span a[href*="=FavoC10"]{
  position:absolute;
  left:717px; /* used for lining lef to right */
  top:calc(5% - 0px); /* used of lining top to bottom */
  width:18px;
  height:18px;
  padding: 1px 1px !important; /* need this */
  background:#d60076;
  border-radius: 0; /* need this */
  color:white!important;
  font-size:0!important;
  line-height:18px;
  overflow:hidden;
  margin-right: 2px; /* maybe ? */
  box-shadow:0 1px 2px rgba(0,0,0,.2)}

.data.tags span a[href*="=FavoC0"]:before{content:"0";font-size:11px}
.data.tags span a[href*="=FavoC1"]:before{content:"1";font-size:11px}
.data.tags span a[href*="=FavoC2"]:before{content:"2";font-size:11px}
.data.tags span a[href*="=FavoC3"]:before{content:"3";font-size:11px}
.data.tags span a[href*="=FavoC4"]:before{content:"4";font-size:11px}
.data.tags span a[href*="=FavoC5"]:before{content:"5";font-size:11px}
.data.tags span a[href*="=FavoC6"]:before{content:"6";font-size:11px}
.data.tags span a[href*="=FavoC7"]:before{content:"7";font-size:11px}
.data.tags span a[href*="=FavoC8"]:before{content:"8";font-size:11px}
.data.tags span a[href*="=FavoC9"]:before{content:"9";font-size:11px}
.data.tags span a[href*="=FavoC10"]:before{content:"10";font-size:11px}

/* --------------------------------------------------------------------------------------------- */
/* Sound */

.data.tags span a[href*="=FavoS0"],
.data.tags span a[href*="=FavoS1"],
.data.tags span a[href*="=FavoS2"],
.data.tags span a[href*="=FavoS3"],
.data.tags span a[href*="=FavoS4"],
.data.tags span a[href*="=FavoS5"],
.data.tags span a[href*="=FavoS6"],
.data.tags span a[href*="=FavoS7"],
.data.tags span a[href*="=FavoS8"],
.data.tags span a[href*="=FavoS9"],
.data.tags span a[href*="=FavoS10"]{
  position:absolute;
  left:737px; /* used for lining lef to right */
  top:calc(5% - 0px); /* used of lining top to bottom */
  width:18px;
  height:18px;
  padding: 1px 1px !important; /* need this */
  background:#d60076;
  border-radius: 0; /* need this */
  color:white!important;
  font-size:0!important;
  line-height:18px;
  overflow:hidden;
  margin-right: 2px; /* maybe ? */
  box-shadow:0 1px 2px rgba(0,0,0,.2)}

.data.tags span a[href*="=FavoS0"]:before{content:"0";font-size:11px}
.data.tags span a[href*="=FavoS1"]:before{content:"1";font-size:11px}
.data.tags span a[href*="=FavoS2"]:before{content:"2";font-size:11px}
.data.tags span a[href*="=FavoS3"]:before{content:"3";font-size:11px}
.data.tags span a[href*="=FavoS4"]:before{content:"4";font-size:11px}
.data.tags span a[href*="=FavoS5"]:before{content:"5";font-size:11px}
.data.tags span a[href*="=FavoS6"]:before{content:"6";font-size:11px}
.data.tags span a[href*="=FavoS7"]:before{content:"7";font-size:11px}
.data.tags span a[href*="=FavoS8"]:before{content:"8";font-size:11px}
.data.tags span a[href*="=FavoS9"]:before{content:"9";font-size:11px}
.data.tags span a[href*="=FavoS10"]:before{content:"10";font-size:11px}

/* --------------------------------------------------------------------------------------------- */
/* Enjoyment */
.data.tags span a[href*="=FavoE0"],
.data.tags span a[href*="=FavoE1"],
.data.tags span a[href*="=FavoE2"],
.data.tags span a[href*="=FavoE3"],
.data.tags span a[href*="=FavoE4"],
.data.tags span a[href*="=FavoE5"],
.data.tags span a[href*="=FavoE6"],
.data.tags span a[href*="=FavoE7"],
.data.tags span a[href*="=FavoE8"],
.data.tags span a[href*="=FavoE9"],
.data.tags span a[href*="=FavoE10"]{
  position:absolute;
  left:757px; /* used for lining lef to right */
  top:calc(5% - 0px); /* used of lining top to bottom */
  width:18px;
  height:18px;
  padding-left: 1px !important; /* need this */
  background:#d60076;
  border-radius: 0 8.5px 8.5px 0; /* need this */
  color:white!important;
  font-size:0!important;
  line-height:18px;
  overflow:hidden;
  margin-right: 2px; /* maybe ? */
  box-shadow:0 1px 2px rgba(0,0,0,.2)}

/* adding the content */
.data.tags span a[href*="=FavoE0"]:before{content:"0";font-size:11px}
.data.tags span a[href*="=FavoE1"]:before{content:"1";font-size:11px}
.data.tags span a[href*="=FavoE2"]:before{content:"2";font-size:11px}
.data.tags span a[href*="=FavoE3"]:before{content:"3";font-size:11px}
.data.tags span a[href*="=FavoE4"]:before{content:"4";font-size:11px}
.data.tags span a[href*="=FavoE5"]:before{content:"5";font-size:11px}
.data.tags span a[href*="=FavoE6"]:before{content:"6";font-size:11px}
.data.tags span a[href*="=FavoE7"]:before{content:"7";font-size:11px}
.data.tags span a[href*="=FavoE8"]:before{content:"8";font-size:11px}
.data.tags span a[href*="=FavoE9"]:before{content:"9";font-size:11px}
.data.tags span a[href*="=FavoE10"]:before{content:"10";font-size:11px}

.data.tags span a[href*="=FavoE8"]:after {
	content: "TESTING TO SEE IF IT WORKS"
}
