/* Crunchyroll Anime Awards TAG Name */
.data.tags span a[href*="=Anime%20of%20the%20Year"],
.data.tags span a[href*="=Best%20Animation"],
.data.tags span a[href*="=Best%20Boy"],
.data.tags span a[href*="=Best%20Couple"],
.data.tags span a[href*="=Best%20Ending"],
.data.tags span a[href*="=Best%20Opening"],
.data.tags span a[href*="=Most%20Heartwarming%20Scene"],
.data.tags span a[href*="=Best%20Action"],
.data.tags span a[href*="=Best%20Fight%20Scene"],
.data.tags span a[href*="=Best%20Drama"],
.data.tags span a[href*="=Villain%20of%20the%20Year"],
.data.tags span a[href*="=Best%20Comedy"],
.data.tags span a[href*="=Best%20Girl"],
.data.tags span a[href*="=Hero%20of%20the%20Year"],
.data.tags span a[href*="=Best%20Score"],
.data.tags span a[href*="=Best%20Hero"],
.data.tags span a[href*="=Best%20Villain"],
.data.tags span a[href*="=Best%20Score"],
.data.tags span a[href*="=Best%20Hero"],
.data.tags span a[href*="=Best%20CGI"],
.data.tags span a[href*="=Best%20Continuing%20Series"],
.data.tags span a[href*="=Best%20Film"],
.data.tags span a[href*="=Best%20Slice%20of%20Life"],
.data.tags span a[href*="=Best%20Antagonist"],
.data.tags span a[href*="=Best%20Character%20Design"],
.data.tags span a[href*="=Best%20Protagonist"],
.data.tags span a[href*="=Best%20Fantasy"]{
  background: #DF6300; color: white !important
}

/* Crunchyroll Anime Awards TAG Description */
.data.tags span a[href*="=Anime%20of%20the%20Year"]:after {
	content: "Crunchyroll Anime Award"
}
.data.tags span a[href*="=Best%20Animation"]:after {
	content: "Crunchyroll Anime Award"
}
.data.tags span a[href*="=Best%20Boy"]:after {
	content: "Crunchyroll Anime Award"
}
.data.tags span a[href*="=Best%20Couple"]:after {
	content: "Crunchyroll Anime Award"
}
.data.tags span a[href*="=Best%20Ending"]:after {
	content: "Crunchyroll Anime Award"
}
.data.tags span a[href*="=Best%20Opening"]:after {
	content: "Crunchyroll Anime Award"
}
.data.tags span a[href*="=Most%20Heartwarming%20Scene"]:after {
	content: "Crunchyroll Anime Award"
}
.data.tags span a[href*="=Best%20Action"]:after {
	content: "Crunchyroll Anime Award"
}
.data.tags span a[href*="=Best%20Fight%20Scene"]:after {
	content: "Crunchyroll Anime Award"
}
.data.tags span a[href*="=Best%20Drama"]:after {
	content: "Crunchyroll Anime Award"
}
.data.tags span a[href*="=Villain%20of%20the%20Year"]:after {
	content: "Crunchyroll Anime Award"
}
.data.tags span a[href*="=Best%20Comedy"]:after {
	content: "Crunchyroll Anime Award"
}
.data.tags span a[href*="=Best%20Girl"]:after {
	content: "Crunchyroll Anime Award"
}
.data.tags span a[href*="=Hero%20of%20the%20Year"]:after {
	content: "Crunchyroll Anime Award"
}
.data.tags span a[href*="=Best%20Score"]:after {
	content: "Crunchyroll Anime Award"
}
.data.tags span a[href*="=Best%20Hero"]:after {
	content: "Crunchyroll Anime Award"
}
.data.tags span a[href*="=Best%20Villain"]:after {
	content: "Crunchyroll Anime Award"
}
.data.tags span a[href*="=Best%20Score"]:after {
	content: "Crunchyroll Anime Award"
}
.data.tags span a[href*="=Best%20Hero"]:after {
	content: "Crunchyroll Anime Award"
}
.data.tags span a[href*="=Best%20CGI"]:after {
	content: "Crunchyroll Anime Award"
}
.data.tags span a[href*="=Best%20Continuing%20Series"]:after {
	content: "Crunchyroll Anime Award"
}
.data.tags span a[href*="=Best%20Film"]:after {
	content: "Crunchyroll Anime Award"
}
.data.tags span a[href*="=Best%20Slice%20of%20Life"]:after {
	content: "Crunchyroll Anime Award"
}
.data.tags span a[href*="=Best%20Antagonist"]:after {
	content: "Crunchyroll Anime Award"
}
.data.tags span a[href*="=Best%20Character%20Design"]:after {
	content: "Crunchyroll Anime Award"
}
.data.tags span a[href*="=Best%20Protagonist"]:after {
	content: "Crunchyroll Anime Award"
}
.data.tags span a[href*="=Best%20Fantasy"]:after {
	content: "Crunchyroll Anime Award"
}
